<%- include("partials/header") %>
  <%- include("partials/nav") %>

    <h1>Friend Request System</h1>

    <h2>Users</h2>
    <ul>
      <% users.forEach(singleuser => { %>
        <li>
          <%= singleuser.username %>
          <% if (singleuser._id != user._id) { %> <!-- Corrected comparison with .toString() -->
            <form action="/user/friend-request/<%= singleuser._id %>" method="POST"> <!-- Corrected form action -->
              <input type="hidden" name="requesterId" value="<%= user._id %>"> <!-- Corrected input value -->
              <button type="submit">Add Friend</button>
            </form>
          <% } %>
        </li>
      <% }); %>
    </ul>
    
    <h2>Friend Requests</h2>
    <ul>
            <% user.friendRequests.forEach(request=> { %>
              <li>
                <!-- Friend request from  request.requester._id -->
              
                  <form action="/user/friend-request/<%= request._id %>/accept" method="POST" style="display:inline;">
                    <button type="submit">Accept</button>
                  </form>
                  <form action="/user/friend-request/<%= request._id %>/decline" method="POST" style="display:inline;">
                    <button type="submit">Decline</button>
                  </form>
              </li>
              <% }); %>
    </ul>

    <%- include("partials/footer") %>