<%- include("partials/header") %>
  <%- include("partials/nav") %>


    <div style="padding: 20px 20px;">

    
    <h2 style="font-family: gilroy; font-size: 22px; font-weight: bolder;">Make Your Friends...</h2>
    <div style="display: flex; gap: 40px;">
      <% users.forEach(singleuser => { %>
        <div style="height: 250px; width: 250px; background-color: rebeccapurple;">
          <%= singleuser.username %>
          <% if (singleuser._id != user._id) { %> <!-- Corrected comparison with .toString() -->
            <form action="/user/friend-request/<%= singleuser._id %>" method="POST"> <!-- Corrected form action -->
              <input type="hidden" name="requesterId" value="<%= user._id %>"> <!-- Corrected input value -->
              <button type="submit">Add Friend</button>
            </form>
          <% } %>
        </div>
      <% }); %>
    </div>
    
    <h2>Friend Requests</h2>
    <%=JSON.stringify( user.friends)%>
    <ul>
            <% user.friendRequests.forEach(request=> { %>
              <li>
                Friend request from <%= request.fullname%>
              
                  <form action="/user/friend-request/<%= request._id %>/accept" method="POST" style="display:inline;">
                    <button type="submit">Accept</button>
                  </form>
                  <form action="/user/friend-request/<%= request._id %>/decline" method="POST" style="display:inline;">
                    <button type="submit">Decline</button>
                  </form>
              </li>
              <% }); %>
    </ul>
  </div>

    <%- include("partials/footer") %>