<%-include("partials/header")%>
<%-include("partials/nav")%>

   <div style="height: 100vh; background-color: red; display: flex;">
    <div style="height: 100%; width: 20%;background-color: rgb(255, 255, 255);">

    </div>
    <div style="height: 100%; width: 60%;background-color: rgb(216, 210, 35); padding:10px 0px ;">
        <div style="height: 130px; width: 90%; background-color: #e0f7fa; margin: auto; border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 10px;">
            <div style="background-color: #8d6e63; display: flex; align-items: center; justify-content: center; gap: 15px; border-radius: 10px; padding: 10px;">
              <img style="height: 50px; width: 50px; border-radius: 50%;" src="https://cdn.dribbble.com/userupload/4095205/file/original-51799aca09a092238d11e66c30707072.png?resize=1200x901" alt="User Image">
              <input style="height: 80%; width: 90%; padding: 5px; border: none; border-radius: 5px; outline: none;" type="text" placeholder="Write something here...">
            </div>
          </div>
         
    </div>
    <div style="height: 100%; width: 20%;background-color: rgb(253, 253, 253);">

    </div>
   </div>


    <!-- <div>
       <% post.forEach((singlepost)=>{%>
            <div>
                <img src="<%=singlepost.image.thumbnailUrl%>" alt="">
                <a href="/post/likes/<%=singlepost._id%>">
                    Like 
                    <%=singlepost.likes.length%>
                </a>
            </div>
       <% })%>
        
    </div> -->

<%-include("partials/footer")%>